* {
    margin: 0;
    font-family: 'Work Sans';
}

section {
    display: flex;
    margin: 50px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    margin-top: 32px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background: #FFFFFF;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;

}

/* Header-part */
header {
    background-image: url(../images/banner/banner3.png);
    padding: 400px 0px;
}

nav {
    width: 30%;
    position: absolute;
    top: 50px;
    right: 0;
    padding-top: 50px;
    display: flex;

}

li {
    list-style: none;
    margin: 16px 20px;

}

header li :hover {
    color: blue;
    border: 0;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

a {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
}

.header-description {
    width: 100%;
    position: relative;
}

.banner-container {
    width: 35%;
    position: absolute;
    right: 0px;
    bottom: -300px;
    text-align: right;
    padding: 0px 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 55px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    padding: 50px 0px;
    color: #FFFFFF;

}

/* My-profile */
.my-img {
    width: 50%;
    margin-top: 50px;
}

.failures-container {
    width: 100%;
    padding: 50px;
    margin-top: 300px;
    

}

.failures-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #151414;

}

.failures-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}
i{
    font-size: 16px;
    font-weight: 300;
    color:#16D887;
    padding-right: 10px;
}